include MANIFEST
include MANIFEST.in
include README.md
include TODO.txt
include LICENSE.txt
include CHANGES.md
include Makefile
include setup.py
recursive-include lib *.py *.txt *.so
recursive-include bin *
recursive-include test *.py
